body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.player {
	position: absolute;
  font-family: "Raleway";
	top: 250px;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
  /* on hover volume 600, else 490 */
	height: 520px;
	overflow: hidden;
}
/* .player.hovered {
	height: 600px;
} */
.player .main {
	width: 100%;
	height: 100%;
	background: #222;
	transition:all 500ms ease-in-out;
}
.player .main .thumbnail img {
	width: 100%;
}
.player .main .seekbar {
	margin-top: -15px;
}
.player .main .seekbar input[type="range"] {
	-webkit-appearance:none;
	width: 100%;
	height: 4px;
	outline: none;
	background: #aaa;
	overflow: hidden;
}
.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 0px;
	height: 0px;
	box-shadow: -300px 0px 0px 300px #00acee;
}
/* .player .main .lowerpart {
  display: grid;
  grid-template-areas:
    "a a a a f"
    "b c d e f";
} */
.player .main .controls {
	/* display: flex; */
  display: grid;
  grid-template-areas:
    "g a a a f"
    "b c d e f";
	justify-content: center;
	margin: 0px 0px 15px;
}
.player .main .details {
  grid-area: a;
	text-align: center;
	padding: 15px 0px;
}
.player .main .details h2 {
	font-size: 18px;
	color:#eee;
	margin-bottom: 5px;
}
.player .main .details p {
	font-size: 15px;
	color: #aaa;
}
.player .main .controls > div {
	margin: 0px 18px;
	cursor: pointer;
}
.player .main .controls > div.repeat-random-control {
  grid-area: b;
}
.player .main .controls > div.prev-control {
  grid-area: c;
}
.player .main .controls > div.play-pause-control {
  grid-area: d;
}
.player .main .controls > div.next-control {
  grid-area: e;
}
.player .main .controls > div.volume-control {
  /* position: absolute; */
  /* display: none; */
  /* margin-top: 95px; */
  grid-area: f;
  align-self: end;
  width: 40px;
}
.player .main .controls > div.volume-control:hover {
  /* margin-top: 15px; */
}
.player .main .controls > div.volume-control:hover .vol-control {
  display: block;
}
.player .main .controls > div.volume-control .vol-control {
  display: none;
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 80px;
}
.player .main .controls i.fa {
	font-size:25px;
	color: #ddd;
}
.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
}
.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}
.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}
.player .main .controls > div.repeat-random-control i.fa-repeat {
	display: none;
}
.player .main .controls > div.repeat-random-control.random i.fa-repeat {
	display: block;
}
.player .main .controls > div.repeat-random-control.random i.fa-random {
	display: none;
}
.player .player-list {
	position: absolute;
	width: 100%;
	margin-top:-20px;
	height: 350px;
	overflow-y: scroll;
	background: rgba(0,0,0,0.8);
	z-index:2;
	transition:all 500ms ease-in-out;
}
.player .player-list .toggle-list {
	position: sticky;
	top:0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #555;
}
.player .player-list .toggle-list i.fa {
	color: #ccc;
	font-size: 20px;
	font-weight: 600;
}
.player .player-list .toggle-list i.fa-angle-down {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-up {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-down {
	display: block;
}
.player .list {
	padding: 10px;
}
.player .list .item {
	display: flex;
	padding: 5px 0px;
	border-bottom: 1px solid #222;
	cursor: pointer;
}
.player .list .item.current {
  background-color: #0e6dda;
}
.player .list .item .thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.player .list .thumbnail img {
	width: 100%;
	height: 100%;
}
.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}
.player .list .item .details h2 {
	color: #eee;
	font-size: 16px;
}
.player .list .item .details p {
	color: #aaa;
	font-size: 15px;
}
.player .player-list::-webkit-scrollbar {
	width: 5px;
}
.player .player-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
  border-radius: 5px;
}
.player .player-list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #ccc;
  border-radius: 5px;
}
.player.activeSongList .player-list {
	margin-top: -350px;
}
.player.activeSongList .main {
	filter:blur(5px);
}
